@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  margin: 5vh 5vw;
  font-family: "Lora", serif;
  background-color: #f6f2e9;
  color: #2B2D42;
  header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    input{
      background-color: transparent;
      border: solid 2px #2B2D42;
      border-radius: 20px;
      padding: 10px 15px;
      font-family: "Montserrat", sans-serif;
    }
    button{
      background-color: transparent;
      border: none;
      position: absolute;
      margin-left: -14vw;
      font-size: 15px;
    }
    h1{
      font-size: 4vw;
      text-align: center;
      margin-bottom: 10vh;
    }
  }
  nav{
    ul{
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1vw;
    }
    button{
      background-color: transparent;
      border: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
    }
    button:hover{
      cursor: pointer;
      text-decoration: underline;
      text-underline-offset: 20px;
      text-decoration-thickness: 1.5px;
    }
    button.selected{
      text-decoration: underline;
      text-underline-offset: 20px;
      text-decoration-thickness: 3px;
    }
  }
  .news{
    h1{
      display: inline;
      padding-right: 0.5em;
      margin-bottom: 5vh;
    }
    #General{
      background: linear-gradient(to top, #FFA5CD 50%, transparent 50%);
    }
    #Business{
      background: linear-gradient(to top, #FC9069 50%, transparent 50%);        
    }
    #Entertainment{
      background: linear-gradient(to top, #FAC650 50%, transparent 50%);        
    }
    #Sports{
      background: linear-gradient(to top, #b9ff5e 50%, transparent 50%);        
    }
    #Technology{
      background: linear-gradient(to top, #70D2FF 50%, transparent 50%);        
    }
    #Science{
      background: linear-gradient(to top, #ff7070 50%, transparent 50%);        
    }
    ul{
      margin-top: 10vh;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      align-items: center;
      justify-content: center;
      gap: 5vw;
      li:first-child{
        width: 70vw;
        img{
          height: 50vh;
          width: 70vw;
        }
        .description{
          display: block;
        }
      }
      li{
        width: 30vw;
        img{
          height: 40vh;
          width: 30vw;
          object-fit: cover;
          border-radius: 5px;
        }
        h2{
          font-size: 20px;
        }
        .description{
          display: none;
        }
        .article-info{
          font-family: "Montserrat", sans-serif;
          font-size: 10px;
          display: flex;
          align-items: center;
          a{
            color: #2B2D42;
          }
          a:hover{
            color: #000000;
          }
          hr{
            width: 10px;
            margin: 0 20px;
            height: 0px;
            border: solid #61647a 0.2px;
          }
        }
      }
    }
  }
  
}